{% for type, flashes in app.session.flashbag.all %}
    {% for message in flashes %}
        {% if type is defined %}
            <div class="chip flash-message-{{ type }}">
                {{ message }}
                <i class="close material-icons">close</i>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
