html {
  height: 100%;
}
html body {
  height: 100%;
}
html body.login {
  background: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html body .wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}
html body .wrapper header nav {
  height: 64px;
}
html body .wrapper header nav #logo-container {
  height: 100%;
}
html body .wrapper header nav #logo-container img {
  padding: 5px 0;
}
html body .wrapper header nav .hide-on-med-and-down {
  display: block !important;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  html body .wrapper header nav .hide-on-med-and-down li {
    display: none;
  }
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-button.dropdown-logout {
  float: right;
  font-size: 12px;
  margin-left: 70px;
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-button.dropdown-logout i {
  font-size: 17px;
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-button .arrow {
  margin-right: 0;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-button .arrow.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownLogout.dropdown-logout,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownSuivi.dropdown-logout,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownCompany.dropdown-logout,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownReferent.dropdown-logout {
  margin-left: 70px;
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownLogout a,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownSuivi a,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownCompany a,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownReferent a {
  color: #FFFFFF;
  font-size: 12px;
}
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownLogout a i,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownSuivi a i,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownCompany a i,
html body .wrapper header nav .hide-on-med-and-down .dropdown .dropdown-content#dropdownReferent a i {
  margin-right: 5px;
}
html body .wrapper header nav .hide-on-med-and-down i.left {
  margin-right: 5px;
}
html body .wrapper header nav #nav-mobile .collapsible li a {
  padding: 0 32px;
}
html body .wrapper header nav #nav-mobile .collapsible li a .arrow {
  margin-right: 0;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html body .wrapper header nav #nav-mobile .collapsible li a .arrow.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
html body .wrapper header nav #nav-mobile .collapsible li .collapsible-body a {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
  padding-left: 60px;
}
html body .wrapper header nav #nav-mobile .collapsible li .collapsible-body a i {
  color: rgba(0, 0, 0, 0.54);
}
html body .wrapper header nav #nav-mobile hr {
  margin: 0;
}
html body .wrapper .valign-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
html body .wrapper .valign-wrapper .valign {
  width: 100%;
}
html body .wrapper .valign-wrapper .valign .form .form-login {
  background-color: #0D1137;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 50px;
  opacity: 0.9;
}
html body .wrapper .valign-wrapper .valign .form .form-login h4 {
  margin-bottom: 30px;
  color: #9E9E9E;
  text-align: center;
}
html body .wrapper .valign-wrapper .valign .form .form-login .error {
  color: #C62828;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=text],
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=password] {
  border-bottom: 1px solid #9E9E9E;
  box-shadow: 0 1px 0 0 #9E9E9E;
  color: #FFFFFF;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=text] + label,
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=password] + label {
  color: #9E9E9E;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=text]:focus,
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=password]:focus {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=text]:focus + label,
html body .wrapper .valign-wrapper .valign .form .form-login .input-field input[type=password]:focus + label {
  color: #FFFFFF;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field .prefix.active {
  color: #FFFFFF;
}
html body .wrapper .valign-wrapper .valign .form .form-login .input-field i {
  color: #9E9E9E;
}
html body .wrapper .valign-wrapper .valign .form .form-login .center-align {
  margin-bottom: 15px;
}
html body .wrapper .valign-wrapper .valign .form .form-login .center-align button {
  background-color: #1A237E;
}
html body .wrapper h3,
html body .wrapper h5 {
  text-align: center;
}
html body .wrapper .container table {
  margin-top: 10px;
}
html body .wrapper .container .collapsible-body .row {
  margin-bottom: 0;
}
html body .wrapper .container .collapsible-body .row .btn-floating {
  margin-top: -10px;
}
html body .wrapper .container .collapsible-body .row.visit {
  margin-top: 30px;
}
html body .wrapper .container .collapsible-body .row.visit .actions {
  float: right;
}
html body .wrapper .container .collapsible-body .row.visit .actions .btn-floating {
  width: 30px;
  height: 30px;
  line-height: 37px;
}
html body .wrapper .container .collapsible-body .row.visit .actions .btn-floating i {
  font-size: 15px;
  line-height: 31px;
}
html body .wrapper .container .collapsible-body .row.visit p {
  margin-top: 0;
}
html body .wrapper .container-form {
  margin-top: 30px;
}
html body .wrapper .container-form form .modal-content {
  margin-top: -30px;
}
html body .wrapper .container-form form .row {
  margin-bottom: 0;
}
html body .wrapper .container-form form .row .select-wrapper.student {
  display: none;
}
html body .wrapper .container-form form .row .select-wrapper input,
html body .wrapper .container-form form .row .select-wrapper .caret {
  color: #1A237E;
}
html body .wrapper .container-form form .row .select-wrapper .dropdown-content span {
  color: #1A237E;
}
html body .wrapper .container-form form .row .btn {
  width: 100%;
  padding-left: 0;
}
html body .wrapper .container-form form .row .btn .material-icons {
  position: absolute;
  margin-left: 10px;
}
html body .wrapper .container-form form .row .btn.back {
  margin-top: 10px;
}
html body .wrapper .container-form form .row .btn.back a {
  color: #FFFFFF;
}
html body .wrapper .container-form form .row .btn-floating {
  width: 40px;
  height: 40px;
}
html body .wrapper .container-form form .row .btn-floating.first {
  margin-top: 6px;
}
html body .wrapper .container-form form .row .btn-floating.second {
  margin-top: 21px;
}
html body .wrapper .container-form form .row .btn-floating i {
  line-height: 0;
}
html body .wrapper .container-form form .row input[type=text] + label,
html body .wrapper .container-form form .row input[type=password] + label,
html body .wrapper .container-form form .row input[type=date] + label,
html body .wrapper .container-form form .row textarea + label {
  color: #9E9E9E;
}
html body .wrapper .container-form form .row input[type=text]:focus,
html body .wrapper .container-form form .row input[type=password]:focus,
html body .wrapper .container-form form .row input[type=date]:focus,
html body .wrapper .container-form form .row textarea:focus {
  border-bottom: 1px solid #1A237E;
  box-shadow: 0 1px 0 0 #1A237E;
}
html body .wrapper .container-form form .row input[type=text]:focus + label,
html body .wrapper .container-form form .row input[type=password]:focus + label,
html body .wrapper .container-form form .row input[type=date]:focus + label,
html body .wrapper .container-form form .row textarea:focus + label {
  color: #1A237E;
}
html body .wrapper .container-form form .row .select2 {
  margin-left: 0;
  width: 100% !important;
}
html body .wrapper .container-form form .row .picker__date-display,
html body .wrapper .container-form form .row .picker__day--selected {
  background-color: #1A237E;
}
html body .wrapper .container-form form .row .picker__footer button {
  color: #1A237E;
}
html body .wrapper .container-form form .row .picker__footer button.picker__clear {
  color: #F44336;
}
html body .wrapper .container.dashboard .row:first-child {
  margin-top: 50px;
}
html body .wrapper .container.dashboard .row .col .col-content {
  background-color: #1A237E;
  color: #FFFFFF;
  font-weight: 500;
  padding: 20px;
  border-radius: 2px;
}
html body .wrapper .container.dashboard .row .col .col-content p {
  margin: 0 50px 0 0;
}
html body .wrapper .container.dashboard .row .col .col-content i {
  margin-top: -25px;
  font-size: 30px;
}
html body footer.page-footer {
  padding-top: 0;
}
html body footer .footer-copyright {
  font-size: 13px;
}
html body footer .footer-copyright a {
  color: #FFFFFF;
}
html body footer .footer-copyright a.left {
  text-transform: uppercase;
}
html body footer .footer-copyright a.first {
  margin-right: 50px;
}
html body footer .footer-copyright .separator {
  margin: 0 10px;
}
html body .waves-effect.waves-indigo .waves-ripple {
  background-color: #1A237E;
}
html body #sidenav-overlay {
  z-index: 996;
}
html body .flash-message-success {
  width: 100%;
  background-color: #4caf50;
  border-radius: 0%;
  color: white;
  padding-bottom: 20px;
  margin-right: 0;
}
html body .flash-message-danger {
  width: 100%;
  background-color: #f44336;
  border-radius: 0%;
  color: white;
  padding-bottom: 20px;
  margin-right: 0;
}
