{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <body class="login">
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
{% endblock %}

{% block footer %}{% endblock %}
